{% extends "base.html" %}

{% block main %}
<section class="profile">
<div class='profile-head'>
    <img src="{{url_for('static', filename='profilepic.webp')}}" alt="Profile Photo">
    <h1>Michael Leighton</h1>
    <p>@mikestrodon</p>
    <p>Portmore, Jamaica</p>
    <p>{{date_joined}}</p>
</div>
<div class="profile-info">
    <p>I am a lover of software development.
        Contact me if you would like to work on a project together
    </p>
    <div class="meta-info">
        <p>7 Posts</p>
    <p>100 Following</p>
    <p>250 Followers</p>
    </div>
    <button>Follow</button>
</div>
</section>
{% endblock %}